<div class="container">
<div id="topArea">
    <br>
    <div class="row">
        <div class="col-sm">
            <div id="titleArea">
                <div class="jumbotron" id="jumbotron">
                <br>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <h1 class="title">MilkyWay</h1>
                        <h4 class="subtitle">News Center</h4>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <br>
                </div>
            </div>
        </div>
    </div>
    <br>

    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="jumbotron col-sm-8">
                <div class="intro">
                <h3>Welcome to the MilkyWay News Scraper!</h3>
                <p>- Share your thoughts on recent events</p>
                <p>- Freshly scraped for your viewing</p>
                <p><b>The galaxy is huge,<span id="emphasis"> get your voice heard NOW!</span></b></p>
                <br>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
</div>

<br>

<div class="container" id="articleBackground">
    
    

    <div class="row">

        <div class="col-sm-3" id="tagArea" style="display: {{display1}}">
            <br>
            <h2>Article Tags |</h2>
            <br> {{#each tagList}}
            <a href="/tags/{{tagName}}">
                <button class="tag" tagName="{{tagName}}">{{tagName}}</button>
            </a>
            <br>
            <br> {{/each}}
        </div>
        <br>
        <div class="col-md-9">
            <div id="articleArea">
                <br>
                <h2>|   Reuters Articles</h2>
                <div class="buttonRow">

        <a href="/" class="atag">
        <button class="allButton">All Stories</button>
        </a>

        <br>

    </div>
                <br>
                
                <div class="panel-group" id="accordion">
                    {{#each articles}}
                    <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading" href="{{articleLink}}">
                            <h4 class="panel-title">
                                <img id="articleImages" src="{{imageSrc}}">
                                <br>
                                <span class="storyTag">{{tag}}</span>
                                <br>
                                <a href="{{articleLink}}">
                                    <p class="headline">{{headline}}</p>
                                </a>
                            </h4>
                            <p class="byline">Updated: {{updated}}</p>
                            <p class="summary">{{summary}}</p>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{iterator}}">
                                    <i class="fas fa-arrow-down"></i>
                                </a>
                        </div>
                        <div id="collapse{{iterator}}" class="panel-collapse collapse in">
                            <br>
                            <div class="panel-body">
                                {{#each comments}}
                                <div class="comment">
                                    <button class="deleteComment" data-commentid="{{_id}}" data-articleid="{{articleID}}">&times;</button>
                                    <p><b>{{name}}</b> said: &nbsp;&nbsp; {{comment}}</p>
                                </div>
                                <hr> 
                                {{/each}}
                                <button class="toComment" data-id="{{_id}}" data-toggle="modal" data-target="#commentModal">Share your thoughts!</button>
                            </div>
                            <br>
                        </div>
                    </div>
                    </div>
                    <hr id="break">
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</div>


<br>
<div class="jsonButtons">
    <h6>To View JSON:</h6>
    <a href="/a">
        <button class="all">View All Articles</button>
    </a>

    <a href="/acoms">
        <button class="allComments">View All Comments</button>
    </a>
</div>
<br>
</div>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <span>Copyright &copy; 2020 MilkyWay News</span> 
            </div> 
            <div class="col-sm-6">
                <span>Created by Owais Master</span>
            </div>
        </div>
    </div>
</footer>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="commentModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leave your comment here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Article commenting on:</h5>
                <p class="articleCommentingOn"></p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Name:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="name" placeholder="Enter name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Comment:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="comment" placeholder="Type Comment Here"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button href="/submitComment/articles/{{_id}}" class="btn btn-success submitComment">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="/js/jscript.js"></script>